body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

textarea {
    width: 40vw;
}

button {
    align-self: center;
}

.loader {
    margin-top: 10px;
    border: 14px solid #f3f3f3;
    /* Light grey */
    border-top: 14px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    textarea {
        width: 80vw;
    }
}